*{cursor: none;}
.custom-cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 15px 5px #00FFCC;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.05s linear;
}
@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 80%;
  max-width: 800px;
  height: 80vh;
  background-color: #000;
  border: 1px solid #00ffcc;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
}

#output {
  white-space: pre-wrap;
  line-height: 1.5;
}

.input-line {
  display: flex;
  align-items: center;
}

#prompt {
  margin-right: 5px;
}

#input {
  background: transparent;
  border: none;
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  outline: none;
  width: 100%;
}


.blinking {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffcc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111;
}
